
/* RecipeDetails Styles */
.recipe-details {
    background-color: #ecfccb;
    padding: 2rem;
}

.recipe-details h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.recipe-details img {
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
}

.ingredients, .instructions {
    margin-bottom: 2rem;
}

.ingredients h3, .instructions h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.ingredients ul, .instructions ol {
    padding-left: 1.5rem;
}

.ingredients li, .instructions li {
    margin-bottom: 0.5rem;
}